NEXT_PUBLIC_SUPABASE_URL=https://uxdnkenjqtsqsslqdrul.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4ZG5rZW5qcXRzcXNzbHFkcnVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzEwNzE4MzcsImV4cCI6MjA0NjY0NzgzN30.QbvaPoigfKSdRNQJ_MOvDGTngNNdJeGrbEhe0FapF6Q
SUPABAE_ADMIN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4ZG5rZW5qcXRzcXNzbHFkcnVsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMTA3MTgzNywiZXhwIjoyMDQ2NjQ3ODM3fQ.hNNZ-L7Hs9BJ6kWVs5TwtVn0hUaa7C0GIE1cl-VeUXg
NEXT_PUBLIC_SITE_URL=http://localhost:3000